<!--begin::Toolbar container-->
<div id="kt_app_toolbar_container" class="app-container" [ngClass]="appToolbarContainerCSSClass">
  @if (showPageTitle()) {
    <app-page-title [appPageTitleDirection]="appPageTitleDirection" [appPageTitleBreadcrumb]="appPageTitleBreadcrumb"
      [appPageTitleDescription]="appPageTitleDescription" class="page-title d-flex flex-wrap me-3"
      [ngClass]="{'flex-column justify-content-center': appPageTitleDirection === 'column', 'align-items-center': appPageTitleDirection !== 'column', appPageTitleCSSClass}">
    </app-page-title>
  }

  @if (appToolbarLayout === 'classic') {
    <app-classic class="d-flex align-items-center gap-2 gap-lg-3"></app-classic>
  }
  @if (appToolbarLayout === 'accounting') {
    <app-accounting class="d-flex align-items-center me-5"></app-accounting>
  }
  @if (appToolbarLayout === 'extended') {
    <app-extended class="d-flex align-items-center flex-shrink-0 me-5"></app-extended>
  }
  @if (appToolbarLayout === 'reports') {
    <app-reports class="d-flex align-items-center overflow-auto" [appPageTitleDisplay]="appPageTitleDisplay">
    </app-reports>
  }
  @if (appToolbarLayout === 'saas') {
    <app-saas class="d-flex align-items-center gap-2" [appPageTitleDisplay]="appPageTitleDisplay"></app-saas>
  }
</div>
<!--end::Toolbar container-->
