<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/dashboard">
    <span class="menu-title">Dashboard</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/trips">
    <span class="menu-title">Trips</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/drivers">
    <span class="menu-title">Drivers</span>
  </a>
</div>

<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/citywall">
    <span class="menu-title">Citywall</span>
  </a>
</div>
